# Credenciales de la cuenta de servicio de Firebase
backend/serviceAccountKey.json

# Clave API de Google
frontend/src/firebase.js

# Correo asociación
.env

# Clave Autenticación
NurseinthePocket.postman_collection.json